/* CHOOSE FRAMEWORK */

/* Create Layout */

/* style guts of layout */

body {
  height: 100vh;
  background-color: rgb(175, 172, 172);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

aside {
  padding: 3rem;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

footer {
  position: fixed;
  bottom: 0%;
  text-align: center;
  width: 100%;
}

header {
  background-color: rgb(14, 14, 88);
  color: white;
  margin: 0;
  padding: 2px;
  width: 100%;
  text-align: center;
}

input {
  background-color: white;
  border-radius: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1rem;
}

input:focus {
  outline: none;
  background-color: aqua;
}

input:hover {
  background-color: aqua;
  transition: ease-in-out 0.5s;
}

.sBtn {
  background-color: white;
  border-radius: 5px;
  color: black;
  width: 60px;
  height: 30px;
  font-size: medium;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sBtn:hover {
  background-color: black;
  color: white;
  transition: ease-in-out 0.5s;
}

.font-size {
  font-size: 20px;
  justify-content: center;
}

.js-text {
  color: white;
  font-size: 30px;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif-bkg {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.h-100 {
  height: 100vh;
  align-items: center;
  justify-content: center;
}
/* media query */
